<div class="Site-content secret-body">
  <div class="ma">
    <h1 class="secret-h1">Bienvenido al Generador de Rachas</h1>
    <h4 class="secret-text">Hola {{user}} </h4>
  </div>
  <div class="flex-container">
    <form class="secret-form" action="/users/secret" method="POST">
      <div class="secret-crear">
        <span class="secret-span__"><b>Por favor, Especifique los datos de su racha</b></span>
        <div class="secret-select-container">
          <input  name="name" id="name" type="text" placeholder="Nombre de la racha" class="secret-input">
          <select name="unitInterval" id="unitInterval" class="secret-option">
            <option value="">Intervalo de tiempo</option>
            <option value="hora">Hora</option>
            <option value="diario">Diario</option>
            <option value="semanal">Semanal</option>
          </select>
          <select  name="amount" id="amount"  class="streakTimeInterval">
            <option value="">Cantidad de veces</option> 
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">Personalizado</option>
          </select>
          <input name="amountP" id="amountP" class="customInterval customHiden" type="text" placeholder="Inserte su valor" />
        </div>
      </div>
      <input type="submit" class="btn btn-success " value="Crear Racha" class="button" />
    </form>
  </div>
  <div class="ma">
    <h4>Tus rachas</h4>
  </div>
  {{!-- cargo rachas aqui --}}
  <div class="secret-rachas"></div>
  
  {{!-- REFACTORY --------------------------------
  seteo un input hidden y lo lleno con el valor del user id para pasar el parametro
  a la funcion getUserRecords() 
  --}}
  <input type="hidden" value="{{id}}" class="userRef">
  {{!-- REFACTORY -----------------------------}}

</div>
<script src="/scripts/secret.js"></script>